src/AIGame/.idea
src/AIGame/AIGame/bin
src/AIGame/AIGame/obj
src/AIGame/AIGame.Game/bin
src/AIGame/AIGame.Game/obj
src/AIGame/AIGame.Test/bin
src/AIGame/AIGame.Test/obj
src/AIGame/AIGame.sln.DotSettings.user
